<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Boost-master">
	 
  <test name="clinics_FP">

      <groups>
   		<dependencies>
	  	

	    </dependencies>
	  </groups>
	<classes>
			 <class name="clinics_FP.Addpatienttestimonial" />
			<class name="clinics_FP.Post_New_Photo" />
		     <class name="clinics_FP.Delete_Photo" />			
	</classes>
  </test>
</suite>
   			